@import url('http://fonts.googleapis.com/css?family=Fontdiner+Swanky');

body{
	background-image: url('../images/stickman/doc_bg.jpg');
	background-size:100%;
	background-color: black;
}
	
	article{
		margin: 0 auto;
		border:4px outset #4D6382;
		border-radius: 12px;
	}
		
		#overlay{
			width: 850px;
			height: 580px;	
			background-color: black;
			position: relative;
			z-index: 200;
		}
		
			#message{
				font-family:'Fontdiner Swanky';
				font-size: 48px;
				color: white;
				position: absolute;
				left:185px;
				top:100px;
			}
